*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1{
  font-size: 2rem;
}
.main{
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.current-user_div{
  position: relative;
  padding: 1rem;
  min-height:100vh;
  background-color: rgb(28, 13, 36);
  color: white;
  display: flex;
}
.user-card{
  width: 100%;
}
.current-user_div button{
  position: absolute;
  top: 20px;
  right:50px;
  width:clamp(50px,20vw,100px) ;
  height: clamp(50px,20vw,100px) ;
  border-radius: 50%;
  font-size: 1.25rem;
  border: none;
  box-shadow: 0px 0px 15px white;
  cursor: pointer;
  background-color: rgba(255, 235, 205, 0.105);
  color: white;
  text-shadow: 0px 0px 5px white;
}
.current-user_div button:active{
  transform: scale(.9);
}

.info_div{
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  font-size: clamp(1rem,2.5vw,1.5rem);
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.info_div p {
  display: flex;
  align-items: center; 
  gap: 10px;
  overflow: hidden;
  min-width: 300px;
}
 a{
  display: flex;
  align-items: center; 
  gap: 10px;
  color: rgb(120, 75, 218);
  text-decoration: none;
}
svg{
  width:clamp(20px,5vw,50px);
  height: 50px;
  color: rgb(255, 255, 255);
}
.info_div img{
  
  border-radius: 50%;
}
.info_div_contact{
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.current-user_div h1{
  font-size: clamp(16px,2.5vw,2rem);
}
.current-user_div img{
  width: clamp(75px,25vw,200px);
  height: clamp(75px,25vw,200px);
}
.history-section{
    
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(20, 10, 30);
}

.history-header{
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 200px;
  padding: 1rem;
  flex-wrap: wrap;
  color: rgb(255, 255, 255);
}
.history-header h1{
  text-align: center;
  color: rgb(255, 255, 255);
}
.history-header input{
  width: 100%;
  font-size: 1.1rem;
  border-radius: 50px;
  padding: 1rem;
  border: none;
  box-shadow: 0px 0px 5px rgb(251, 246, 246);
  margin-top: 10px;
}
.history-header label{
  font-size: 1.1rem;
}
.history-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  height: 75vh;
  
  
}
.history-list li{
  display: flex;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  gap: 5px;
  align-items: center;
  
}
.history-list li img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.history-list li:nth-child(odd){
  background-color: rgba(31, 34, 36, 0.961);
}
.history-list li:nth-child(even){
  background-color: rgba(36, 43, 48, 0.915);
}
.extra-info{
  font-size: clamp(1rem,2.5vw,1.3rem);
}
.extra-info li{
  padding: 1rem;
  display: flex;
  align-items: center;
}