.App {
  text-align: center;
}

.current-user_div{
  padding: 1rem;
  min-height:400px ;
  background-color: rgb(173, 185, 185);
}
.info_div{
  display: flex;
}
.info_div img{
  width: 200px;
}
.info_div_contact{
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.user-card{

}